{% extends "base.html" %}
{% block start %}
<main>
    <section>
        <h1>About Our myview Website</h1>
        <p>Welcome to <strong>myview</strong>, your ultimate destination for all things movies! We're passionate about cinema, and our mission is to provide you with insightful and engaging movie reviews, ratings, and a platform for lively discussions about the world of film.</p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>At <strong>myview</strong>, we believe that movies are not just a form of entertainment but a powerful medium that can inspire, educate, and provoke emotions. Our mission is to share our love for movies and help you make informed decisions about what to watch next.</p>
    </section>

    <section>
        <h2>Our website contains</h2>
        <h3 style="margin-bottom: 0px;">Home page:</h3>
        <p style="margin-top: 0px;">Here you can see all movies data. you can also search for the your required movie using search box provided.</p>
        <h3 style="margin-bottom: 0px;">Reviews page:</h3>
        <p style="margin-top: 0px;">This is the page where you can post a review by selecting the movie you have watched.</p>
        <h3 style="margin-bottom: 0px;">Top_rated page:</h3>
        <p style="margin-top: 0px;">Here you will able to see all top rated movies</p>
    </section>

    <section>
        <h2>Good Review Guarantee</h2>
        <p>At <strong>myview</strong>, we don't just critique movies; we celebrate them. While we are critical when necessary, we also take pleasure in highlighting the aspects that make a film outstanding. Our "Good Review Guarantee" means that even in the harshest critiques, we'll always find and celebrate the redeeming qualities of a movie, whether it's a stellar performance, breathtaking visuals, or a thought-provoking plot.</p>
    </section>

    <section>
        <h2>Join the Discussion</h2>
        <p>We know that everyone has their own unique tastes in movies. That's why we encourage you to join the conversation on our website. Share your thoughts, opinions, and reviews in the reviews section. It's a place to celebrate your favorite films.</p>
    </section>

    <section>
        <h2>Stay Updated</h2>
        <p>We understand that the world of cinema is constantly evolving. That's why we keep you up to date with the latest movie releases, industry news, and trends. Be sure to subscribe to our newsletter and follow us on social media to stay in the loop.</p>
    </section>
</main>
{% endblock %}
